@import url('https://cdn.fontcdn.ir/Font/Persian/Yekan_Bakh/YekanBakh.css');

@import "tailwindcss";

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/yekanmedium.ttf') format('truetype');
}




*{
  direction: rtl;
}

* {
  font-family: 'Yekan Bakh', 'Tahoma', sans-serif !important;
}

body, html {
  font-family: 'Yekan Bakh', 'Tahoma', sans-serif !important;
}

input, button, select, textarea, div, p, h1, h2, h3, h4, h5, h6, span, label {
  font-family: 'Yekan Bakh', 'Tahoma', sans-serif !important;
}


